.App {
  text-align: left;
  padding: 12px;
  background-color: #111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eee;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  font-family: 'Vollkorn', sans-serif;
  font-size:xx-large;
}

body {
  font-family: 'Inconsolata', sans-serif;
  color: #eee;
}

input {
  background-color: transparent;
  border: none; 
  color: #eee;
  font-family: 'Inconsolata', sans-serif;
  font-size:medium;
  min-width: 360px;
}

input:focus {
  outline: none;
}

::selection {
  background: #61dafb;
  color: #111;
}

a {
  color: yellow;
}
a:hover {
  color: #111;
  background-color: yellow;
}

a:visited {
  color: orange;
}


a:visited:hover {
  color: #111;
  background-color: orange;
}